@mixin mainMix {
	grid-area: mainTopmed;
	background-color: $transpNegro2;
	display: flex;
	background-repeat: no-repeat;                                
	background-position: center;                                 
	background-size: cover;
	color: $colorPrimario;
	flex-direction: column;
	justify-content: space-around;
	text-align: center; 
}

/*------------------INICIO BOTON-----------------*/

button {  
         width: 125px;                              
         color: $colorPrimario;                             
         border: 0px;                             
         font-size: 20px;                          
         margin-top: 1rem;                        
         background-color: $transpNegro6;               
         padding: 1rem;                            
         border-radius: 5px;                       
         transition: width 1s ;

}
button:hover{                                      
	background-color: $colorAzul;
	transition: .5s;
}