/*--------INICIO ROOT--------*/
* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}
body {                                  
	background-image: url(../assets/img/principalchess.jpg);
	background-repeat: no-repeat;                                
	background-position: top; 
	background-size: cover; 
}