$colorPrimario:#EFEFEF;
$colorSecundario:black;
$colorFoo:#D1D1D1;
$colorTres:red;
$colorAzul: #488FB1;
$transpBlanco :rgba(255, 255, 255, .5);
$transpNegro1:rgba(0, 0, 0, .3);
$transpNegro2:rgba(0, 0, 0, .8);
$transpNegro3:rgba(0, 0, 0, .4);
$transpNegro4:rgba(0, 0, 0, .9);
$transpNegro5:rgba(0, 0, 0, 1.0);
$transpNegro6:rgba(0, 0, 0, .5);
